/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

:root {
    /* --primary: #8ea4ff; */
    --primary: #849cff;
    --primary-text: #7a94fc;
    --primary-dim: #99adff;
    --primary-dim2: #aebeff;
    --primary-dim3: #bfcbff;
    --primary-emph: #4c6ae2;
    --primary-hc: #9eb1ff;

    --accent: #ffca1d;
    --accent-select: #ffeb7c;

    --turquoise: #00bbff;
    --royal: #0076e4;
    --pink: #ff88dc;
    --scarlet: #ff5154;
    --canary: #fff9a1;
    --butter: #ffeb73;
    --sandstone: #db8452;
    --gray-light2: #e4e4eb;
    --gray-light: #bfbcca;
    --gray-dark: #3e394e;
    --white: #fff;
    --white-dim: #e0e5fd;
    --shadow: rgba(0, 0, 0, 0.2);

    --xs: 4px;
    --s: 8px;
    --ms: 12px;
    --m: 16px;
    --ml: 20px;
    --l: 24px;
    --xl: 32px;
    --xxl: 48px;

    --rad: 6px;
}

h1 {
    font-size: 36px;
}

body {
    margin: 0;
    margin-top: 64.5px;
    padding: 0;
    height: 100%;
    font-family: "Mulish", sans-serif;
    font-weight: 300;
    background-color: var(--primary);
    /* background-color: var(--white-dim); */
    color: var(--gray-dark);
}

p {
    line-height: 24px;
}

form {
    flex-grow: 1;
}

.u-flex {
    display: flex;
}

.u-flexColumn {
    display: flex;
    flex-direction: column;
}

.u-flex-justifyCenter {
    justify-content: center;
}

.u-flex-alignCenter {
    align-items: center;
}

.u-inlineBlock {
    display: inline-block;
}

.u-bold {
    font-weight: 600;
}

.u-textCenter {
    text-align: center;
}

.u-relative {
    position: relative;
}

.u-pointer {
    cursor: pointer;
}

.u-link {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

.u-link:hover {
    color: var(--primary-dim);
}
