.drafts-container {
    display: flex;
    flex-direction: column;
    gap: var(--s);
}

.draft-link {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.draft-link:hover {
    text-decoration: underline;
}

.draft-action {
    border-style: none;
    text-decoration: none;
    color: white;
    background-color: var(--primary-text);
}
