.dormspam-nofocus,
.dormspam-focus {
    border-width: 1px;
    border-color: var(--gray-dark);
    border-radius: var(--rad);
    background-color: white;
    display: flex;
    flex-direction: column;
}

.dormspam-title {
    font-weight: 700;
    font-size: var(--ml);
    margin: 0px;
}

.dormspam-author {
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    align-self: center;
    font-weight: normal;
}

.dormspam-author:hover {
    text-decoration: underline;
    text-underline-offset: 0.15em;
}

.dormspam-date {
    text-transform: lowercase;
    color: var(--primary-emph);
    font-weight: bold;
    margin: 0px;
}

.dormspam-tag {
    background-color: var(--butter);
    padding: 2px 6px;
    align-self: center;
    border-radius: 6px;
    margin: 0px;
    border-style: none;
    font-size: var(--m);
    font-weight: normal;
    transition: all 0.2s ease;
}

.dormspam-tag:hover {
    cursor: pointer;
    background-color: var(--canary);
}

.dormspam-tag:active {
    transform: scale(0.96);
}

/* NOT FOCUSED */

.dormspam-nofocus {
    min-width: 208px;
    max-width: 320px;
    height: 180px;
    flex: 1 0 21%;
    padding: 12px 16px;
    box-shadow: 1px 1px 2px var(--shadow);
}

.dormspam-toprow-nofocus {
    display: grid;
    grid-template-columns: auto 32px;
    margin-right: -12px;
    gap: var(--s);
}

.dormspam-title {
    flex-grow: 1;
}

.dormspam-bottomrow-nofocus {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--s);
}

.dormspam-nofocus hr {
    color: var(--gray-light2);
    border-width: 0.8px;
    margin-left: 0;
    margin-right: 0;
}

/* FOCUS */

.dormspam-focus {
    gap: 8px;
    padding: 18px 24px;
    box-shadow: 1px 1px 2px var(--shadow);
}

.dormspam-toprow-focus {
    display: grid;
    grid-template-columns: auto 32px;
    margin-left: 12px;
    margin-right: -20px;
    gap: var(--s);
}

.dormspam-title-focus {
    margin-left: 12px;
}

.dormspam-body-focus {
    flex: 1;
    white-space: pre-line;
    margin: 0px 12px;
}

.dormspam-bottomrow-focus {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--s);
    margin-left: 12px;
    margin-right: 14px;
}

.dormspam-bctalk {
    justify-self: center;
    margin: 0px;
}

.dormspam-icon {
    color: var(--gray-dark);
}
