.finditbar {
    margin: auto;
    background-color: var(--primary-dim3);
    border-radius: 0 var(--rad) var(--rad) var(--rad);
    padding: 16px;
    width: calc(min(1000px, 90vw) - 32px);
    display: grid;
    gap: var(--m);
}

.finditbar-simple {
    grid-template-columns: 1fr auto;
}

.finditbar-advanced {
    grid-template-columns: auto 1fr auto;
}

/* selector */
.finditbar-select {
    display: flex;
    flex-direction: column;
}

.finditbar-tabs {
    display: flex;
}

.finditbar-tab {
    border-style: none;
    padding: 8px 24px;
    border-radius: var(--rad) var(--rad) 0px 0px;
    background-color: var(--primary-dim);
    color: white;
    font-size: 16px;
    transition: all 0.2s ease;
}

.finditbar-tab:hover {
    background-color: var(--primary-dim3);
    cursor: pointer;
}

.finditbar-tab-active {
    color: var(--gray-dark);
    background-color: var(--primary-dim3);
}

/* search bar */
.findit-searchbar-container {
    display: flex;
}

.findit-searchbar {
    border-radius: 0px;
    border-style: none;
    font-size: 16px;
    margin-top: 0px;
    height: 22px;
    width: 100%;
}

.search-button {
    width: 46px;
    height: 46px;
    font-size: 28px;
    border-style: none;
    padding: 10px;
    background-color: var(--accent);
    color: var(--gray-dark);
    transition: all 0.2s ease;
}

.search-button:hover {
    background-color: var(--accent-select);
    cursor: pointer;
}

.search-button:active {
    transform: scale(0.96);
}

/* tags */
.finditbar-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.search-tag {
    padding: 2px 2px 2px 6px;
    border-style: none;
    border-radius: var(--rad);
    transition: all 0.2s ease;
    font-size: 16px;
    height: 26px;
}

.search-tag:hover {
    cursor: pointer;
}

.search-tag:active {
    transform: scale(0.96);
}

.search-tag-selected {
    background-color: var(--accent);
}

.search-tag-selected:hover {
    background-color: var(--accent-select);
}

.search-tag-unselected {
    background-color: var(--primary-dim3);
}

.search-tag-unselected:hover {
    background-color: var(--white-dim);
}

/* dates */
.finditbar-date {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.finditbar-date input {
    background-color: white;
    font-family: "Mulish", sans-serif;
    border-style: none;
    height: 22px;
    max-width: 132px;
    padding-right: 0px;
}

/* bctalk */
.finditbar-bctalk {
    margin: 0px;
    max-width: 100px;
    height: 22px;
    border-style: none;
}

/* clear button */
.finditbar-clear {
    background-color: var(--primary-text);
    color: white;
    border-color: var(--primary-text);
    text-decoration: none;
    box-shadow: 0px var(--primary-dim3);
    height: 20px;
    text-align: center;
}

.finditbar-clear:hover {
    background-color: var(--primary-dim);
    border-color: var(--primary-dim);
}

/* *** mobile *** */
@media (max-width: 600px) {
    .finditbar-advanced {
        grid-template-columns: 1fr;
    }
    .finditbar-date {
        display: flex;
        flex-direction: column;
        max-width: 100% !important;
    }
    .finditbar-bctalk {
        max-width: 100%;
        flex-shrink: 1;
    }
    .finditbar-clear {
        padding-left: 6px;
        padding-right: 6px;
        max-width: 100%;
    }
    .search-tag {
        padding: 4px 4px 4px 6px;
        height: 32px;
    }
}

.finditbar-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--m);
}

.finditbar-tag-button {
    background-color: var(--primary-text);
    color: white;
    border-style: none;
    box-shadow: 0px var(--primary-dim3);
}

.finditbar-tag-button:hover {
    background-color: var(--primary-dim);
    cursor: pointer;
}

.finditbar-tags-expand {
    display: flex;
    gap: var(--m);
}
