.finditbar-simple {
    margin: auto;
    background-color: var(--primary-dim3);
    border-radius: var(--rad);
    padding: 12px 16px;
    width: calc(min(1000px, 90vw) - 32px);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--m);
}

.finditbar-advanced {
    margin: auto;
    background-color: var(--primary-dim3);
    border-radius: var(--rad);
    padding: 12px 16px;
    width: calc(min(1000px, 90vw) - 32px);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: var(--m);
}

/* selector */
.finditbar-select {
    display: flex;
    flex-direction: column;
    gap: var(--s);
}

.finditbar-tabs {
    display: flex;
    gap: var(--m);
}

.finditbar-tab {
    border-style: none;
    padding: 8px 24px;
    border-radius: var(--rad);
    background-color: var(--primary-dim);
    color: white;
    font-size: 16px;
}

.finditbar-tab:hover {
    background-color: var(--primary-dim3);
}

.finditbar-tab-active {
    color: var(--gray-dark);
    background-color: var(--primary-dim3);
}

/* search bar */
.findit-searchbar-container {
    display: flex;
}

.findit-searchbar {
    border-radius: 0px;
    border-style: none;
    font-size: 16px;
    margin-top: 0px;
    height: 22px;
    width: 100%;
}

.search-button {
    width: 46px;
    height: 46px;
    font-size: 28px;
    border-style: none;
    padding: 10px;
    background-color: var(--accent);
    color: var(--gray-dark);
    transition: all 0.2s ease;
}

.search-button:hover {
    background-color: var(--accent-select);
}

.search-button:active {
    transform: scale(0.96);
}

/* tags */
.finditbar-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.search-tag {
    padding: 2px 2px 2px 6px;
    border-style: none;
    border-radius: var(--rad);
    transition: all 0.2s ease;
    font-size: 16px;
}

.search-tag:hover {
    cursor: pointer;
}

.search-tag:active {
    transform: scale(0.96);
}

.search-tag-selected {
    background-color: var(--accent);
}

.search-tag-selected:hover {
    background-color: var(--accent-select);
}

.search-tag-unselected {
    background-color: var(--primary-dim3);
}

.search-tag-unselected:hover {
    background-color: var(--white-dim);
}

/* dates */
.finditbar-dates {
    display: flex;
    flex-direction: column;
}

.finditbar-date {
    margin: 0px;
}

/* bctalk */
.finditbar-bctalk {
    margin: 0px;
}

/* clear button */
.finditbar-clear {
    background-color: var(--primary-text);
    color: white;
    border-color: var(--primary-text);
    text-decoration: none;
    box-shadow: 0px var(--white-dim);
    height: 20px;
    text-align: center;
}

.finditbar-clear:hover {
    background-color: var(--primary-dim);
    border-color: var(--primary-dim);
}
