.footer-container {
    display: flex;
    height: 20px;
    padding: 16px 0px;
    margin: 0px;
    column-gap: 16px;
    justify-content: center;
    /* clear: both; */
    /* position: relative; */
    width: 100%;
    /* bottom: 0px; */
    background-color: var(--primary);
}

.footer-link {
    color: var(--white-dim);
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}
