.page-controls {
    display: flex;
    gap: 16px;
}

.page-arrow {
    font-size: 32px;
    background-color: var(--primary);
    color: var(--accent);
    border-style: none;
    width: 36px;
    height: 36px;
    text-align: center;
    padding: 0;
    border-radius: 18px;
}

.page-arrow:disabled {
    color: var(--primary-dim3);
}

.page-arrow:hover {
    cursor: pointer;
    color: var(--accent-select);
}

.page-arrow:disabled:hover {
    cursor: default;
    color: var(--primary-dim3);
}

.page-counter {
    margin: 0;
    padding-top: 6px;
    color: white;
    display: flex;
    gap: 6px;
}

.page-counter p {
    margin: 0px;
}

.page-num {
    width: 20px;
    padding: 2px 6px;
    margin: 0px;
    border-style: none;
}
