.sendit-body-container {
    margin: var(--s);
}

@media (min-width: 541px) {
    .sendit-column-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
}

.sendit-col-separator hr {
    color: var(--gray-light2);
    border-width: 0.8px;
}

.sendit-body-editor {
    color: var(--gray-dark);
}

.sendit-tag {
    font-weight: normal;
    color: var(--gray-dark);
}

.sendit-clear,
.sendit-deletedraft {
    padding: 8px;
    color: var(--primary-emph);
    background-color: var(--primary-dim4);
    border-style: none;
    box-shadow: 0px 0px 0px;
}

.sendit-clear:hover,
.sendit-deletedraft:hover {
    background-color: var(--white-dim);
}

.sendit-savedraft {
    padding: 8px 10px;
    color: var(--primary-emph);
    background-color: var(--primary-dim4);
    border-width: 2px;
    border-color: var(--primary-emph);
    box-shadow: 0px 0px 0px;
}

.sendit-savedraft:hover {
    background-color: var(--white-dim);
}

.sendit-submit {
    color: white;
    background-color: var(--primary-text);
    border-style: none;
}

.sendit-submit:hover {
    color: white;
    background-color: var(--primary-dim);
}
