::-moz-selection {
    color: var(--gray-dark);
    background: var(--accent-select);
}

::selection {
    color: var(--gray-dark);
    background: var(--accent-select);
}

a {
    color: var(--primary-emph);
}

.page-title {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin-block-start: 24px;
    margin-block-end: 24px;
}

.root-page-container {
    display: grid;
    grid-template-rows: auto 1fr 52px;
    min-height: 100%;
    width: 100%;
}

.page-container {
    min-height: 100%;
}

.page-body {
    background-color: white;
    border-radius: var(--rad);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: var(--l);
    width: calc(min(1000px, 90vw) - 2 * var(--l)); /* not sure if I like this, but all right */
}

.formpage-body {
    background-color: white;
    border-radius: var(--rad);
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: var(--l);
    max-width: 540px;
}

/* BUTTONS */
.button-container {
    display: flex;
    width: auto;
    justify-content: center;
    gap: var(--m);
}

.action-button {
    padding: 10px 12px;
    font-weight: bold;
    font-size: var(--m);
    font-family: "Mulish", sans-serif;
    border-radius: var(--rad);
    border-style: solid;
    box-shadow: 1px 1px 2px var(--shadow);
    transition: all 0.2s ease;
}
.action-button:active {
    transform: scale(0.96);
}

/* FORMS */

.form-container {
    background-color: var(--primary-dim4);
    color: var(--primary-text);
    border-radius: var(--rad);
    margin: auto;
    max-width: 540px;
    padding: var(--l);
}

.form-column {
    margin: var(--s);
}

.form-field {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: var(--s) var(--s);
    font-size: var(--m);
    color: var(--primary-emph);
}

.form-field-error {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: var(--xs);
    font-size: var(--m);
    color: var(--scarlet);
}

.form-field-error .form-input {
    border-color: var(--scarlet);
}

.form-input {
    /* border-width: 1px;
    border-color: var(--gray-light);
    border-style: solid; */
    border-style: none;
    border-radius: 0px;
    margin-top: 5px;
    padding: var(--ms);
    font-size: 16px;
}

.form-radio {
    color: var(--primary);
    margin-top: 5px;
}

.form-radio input {
    border-color: var(--primary-text);
}

.form-radio input:checked {
    color: var(--turquoise);
}

.multiple-value-text-input p {
    margin: 0 !important;
}

.multiple-value-text-input-item {
    color: var(--gray-dark);
    background-color: var(--accent) !important;
    border-color: var(--gray-light) !important;
    padding: 1px 5px 1px 5px !important;
    font-weight: normal;
    display: inline-flex;
    gap: 5px;
}

.multiple-value-text-input input {
    margin-top: 5px;
    width: calc(100% - 26px) !important;
    padding-right: -8px !important;
}

.ql-toolbar {
    background-color: var(--white-dim);
    border-style: none !important;
    font-family: "Mulish", sans-serif;
}

.ql-container {
    border-style: none !important;
    font-family: "Mulish", sans-serif !important;
}

.ql-editor {
    font-weight: normal;
    font-family: "Mulish", sans-serif;
    color: var(--gray-dark);
    background-color: white;
    border-style: none !important;
}

.message-box {
    color: var(--apple);
    background-color: var(--apple-light);
    padding: var(--s);
    margin: 0;
    font-weight: bold;
    /* animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards; */
}

.error-box {
    color: var(--scarlet);
    background-color: var(--scarlet-light);
    padding: var(--s);
    margin: 0;
    font-weight: bold;
    /* animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards; */
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
}
